[submodule "logos/2020/kitsune/rc3"]
	path = logos/2020/kitsune/rc3
	url = ./
	branch = rc3

[submodule "logos/2020/kitsune/rc6"]
	path = logos/2020/kitsune/rc6
	url = ./
	branch = rc6

[submodule "logos/2020/kitsune/rc7"]
	path = logos/2020/kitsune/rc7
	url = ./
	branch = rc7